.App{
  max-width: 1800px;
  margin: auto;
}
/* NAVBAR */
.navbar-nav{
  border-radius: 25px;
  border: 2px solid #343534;
  margin-right: 20px;
  box-shadow: 0px -2px #38a84b85, -2px 0px #FF7BAC;
}
.navSocials{
  border-radius: 25px;
  border: 2px solid #343534;
  padding: 8px 20px;
  margin-right: 20px;
  box-shadow: 0px -2px #38a84b85, -2px 0px #FF7BAC;
}
.nav-link{
  color: #000 !important;
}
.navSocials a{
  font-size: 26px;
  color: #000;
  line-height: 0;
}

/* HERO */
.hero-main img{
  width: 90%;
}
.hero-main .btn{
  font-size: 26px;
  padding: 8px 25px;
  max-width: 500px;
  width: 100%;
}
.presale{
  border: 1px solid #343534;
  border-radius: 35px;
  box-shadow: -2px -2px #38a84b85, 0px 2px #FF7BAC;
  text-align: center;
  z-index: 5;
  background-color: #fff;
  padding: 25px 15px;
}
.presale h2{
  font-size: 48px;
  font-weight: 700;
  text-shadow: -2px -2px #38a84b85, 2px 0px #FF7BAC;
}
.presale h4{
  font-size: 26px;
}
.mintInfo{
  border: 1px solid #343534;
  border-radius: 25px;
  width: 90%;
  margin: auto;
  padding-top: 25px;
}
.mintInfo h3{
  font-size: 28px;
  font-weight: 900;
  margin: 15px auto;
}
.mintInfo .container{
  border: 1px solid #343534;
  border-radius: 25px;
  width: 90%;
  margin: auto;
}
.mintInfo img{
  width: 100%;
}
.mintInfo #quantitySet{
  border-top: 1px #343534 solid;
  height: 50px;
}
.mintInfo #quantitySet button{
  width: 25%;
  border: 0;
  background-color: transparent;
}
.mintInfo #price{
  font-size: 26px;
  font-weight: 700;
}
.mintInfo #quantitySet p{
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  margin: auto;
}
.presale .btn{
  font-size: 26px;
  padding: 8px 25px;
}

/* CHECK ADDRESS */
.frens-check-main{
  text-align: center;
  margin-top: 50px;
}
.frens-check-main h2{
  font-size: 6vw;
  text-shadow: -2px -2px #38a84b85, 2px 0px #FF7BAC;
}
.frens-check-main p{
  font-size: 28px;
  max-width: 600px;
  margin: auto;
}
.frens-check-main input[type=text]{
  box-shadow: 0px -2px #38a84b85, -2px 0px #FF7BAC;
  border: 2px solid #343534;
  height: 75px;
  width: 100%;
  padding: 10px 25px;
  max-width: 580px;
  border-radius: 50px;
  margin: 15px auto;
}
.frens-check-main input[type=submit]{
  font-size: 28px;
  background-color: transparent;
  border: 2px solid #343534;
  box-shadow: 0px -2px #38a84b85, -2px 0px #FF7BAC;
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: bold;
}

/* VERIFIED SMART CONTRACT */
.verified-main{
  text-align: center;
  margin-top: 100px;
}
.verified-main h2{
  font-size: 4vw;
  text-shadow: -2px -2px #38a84b85, 2px 0px #FF7BAC;
}
.verified-main hr:not([size]){
  height: 5px;
  color: #707070;
}
.verified-main p{
  font-size: 28px;
  max-width: 600px;
  margin: 100px auto;
}

/* STEPS */
.steps-main{
  font-size: 48px;
  font-weight: 500;
}
.steps-main ol{
  list-style-position: inside;
  text-shadow: -2px -2px #38a84b85, 2px 0px #FF7BAC;
}
.steps-main ol hr{
  height: 5px;
  color: #707070;
}

/* FOOTER */
.footer-main{
  margin-top: 50px;
}
.footer-main p{
  font-size: 28px;
}